# SETS

- A Set is an unordered collection data type that is iterable, mutuable and has NO DUPLICATE ELEMENTS, Python's set class represents the mathamatical notion of a set. This is based on data structure known as a hash table

In [1]:
# Defining a empty Set
# FIRST STEP

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
# In order to create sets we need to use flower Braces {}
# STEP 2

set_var = {'Ashish','Deepak','Rajath'}
print(set_var)
print(type(set_var))
type(set_var)

{'Rajath', 'Ashish', 'Deepak'}
<class 'set'>

set

In [3]:
# Example 1 : Here we know that the this is a set of Integer values, Suppose we add another repeated number.
set_var = {1,2,3,4,5,6,7,2,3,4}
print(set_var)
# As we can see in sets only the unique values are displayed, It doest have duplicate element

{1, 2, 3, 4, 5, 6, 7}

In [4]:
# Indexing (Basically we are trying to understand how we can retrive the particular dataset using the inbuilt functions)
#set_var[0]
# Set does not support indexing
#set_var['Ashish']
# Set does not support indexing

# Inbuilt Functions in Sets

In [5]:
# Adding elements into the set
set_var.add('Abel')

In [6]:
print(set_var)

{'Abel', 1, 2, 3, 4, 5, 6, 7}

In [7]:
# Finding out the Difference

In [8]:
set1 = {'Ashish','Deepak','Abel'}
set2 = {'Ashish','Deepak','Abel','Rajath'}

In [9]:
type(set1)

set

In [10]:
type(set2)

set

In [11]:
# Finding out the difference (basically removing all the common elements and displaying only the unique elements)
set2.difference(set1)

{'Rajath'}

In [12]:
print(set2)

{'Abel', 'Rajath', 'Ashish', 'Deepak'}

In [13]:
# After finding out the difference if you want to change the original Data then you use difference_update
set2.difference_update(set1)

In [14]:
print(set2)

{'Rajath'}

In [15]:
# INTERSECTION

In [16]:
set3 = {'Ashish','Deepak','Abel','Rajath','Mummy'}
set4 = {'Ashish','Deepak','Abel','Rajath'}

In [17]:
set3.intersection(set4)

{'Abel', 'Ashish', 'Deepak', 'Rajath'}

In [18]:
print(set3)

{'Abel', 'Deepak', 'Ashish', 'Mummy', 'Rajath'}

In [19]:
set3.intersection_update(set4)

In [20]:
print(set3)

{'Abel', 'Rajath', 'Ashish', 'Deepak'}

# Dictionaries

- A Dictionary is a collection which is unordered, Changeable and Indexed. In python Dictionaries are written with curly brackets and they have keys and values.
- The basic Difference between Dictionary and sets are Dictionaries are indexable, Sets are not indexable

- When there are only flower brackets it becomes a dictionary

In [21]:
dic={}

In [22]:
type(dic)

dict

- When the elements are added to the flower brackets without the keys it becomes a sets, but incase the keys and values are added it  becomes a dictionary

In [23]:
dict_set_1 = {1,2,3,4,5}

In [24]:
type(dict_set_1)

set

# CREATING A DICTIONARY

In [25]:
my_dict = {'Car1' : 'Audi','Car2' : 'BMW','Car3' : 'Creta'}

In [26]:
print(my_dict)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Creta'}

In [27]:
type(my_dict)

dict

In [28]:
type(dict())

dict

# Checking if the dictionaries are indexabale

- Here indexing number will not be 0,1,2 etc it will be more sort of a key names which needs to be written

In [29]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Creta'}

In [30]:
my_dict['Car1']

'Audi'

- We can even loop through different dictionaries

In [31]:
# Looping through different key names of dictionaries
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [32]:
# Looping through different values of dictionaries
for x in my_dict.values():
    print(x)

Audi
BMW
Creta

In [33]:
# Looping through different total items in dictionaries
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Creta')

In [34]:
# Adding the items to the Dictionary
my_dict['Car4'] = 'Benz'

In [35]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Creta', 'Car4': 'Benz'}

In [36]:
# Updating the items in the Dictionary
# Adding the already present key name and updating it.
my_dict['Car1'] = 'Maruti'

In [37]:
print(my_dict)

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Creta', 'Car4': 'Benz'}

- So the value got replaced, basically the value of the dictionary got replaced by the new given value
- It basically Gets overwritten
- This is the basic understanding of indexing in dictinaries

# Nested Dictionary

In [38]:
car1_model = {'Mercedes':1960}
car2_model = {'Audi':1961}
car3_model = {'BMW':1962}

car_type = {'Car1':car1_model,'Car2':car2_model,'Car3': car3_model}

In [39]:
type(car_type)

dict

- It is called as a nested model where there are 2 key and one value in this example, it may vary depending on other sets

#### Indexing the nested Dictionaries and  Accessing the dictionaries

In [40]:
print(car_type)

{'Car1': {'Mercedes': 1960}, 'Car2': {'Audi': 1961}, 'Car3': {'BMW': 1962}}

In [41]:
print(car_type['Car1'])

{'Mercedes': 1960}

In [42]:
# here we are trying to find out the nested values
print(car_type['Car1']['Mercedes'])

1960

In [43]:
# Similarly any nested dictionary we will be able to retreive any particular dictionary values

# TUPLES

- It is another Important Dataset, It is not  mutuable, once you have actually defined a tuple you cannot change the element but you can change the entire thing
- When ever defining a tuple you will have to define it by round opening and closing braces

In [44]:
# Creating an empty tuple
my_tuple = tuple()
my_tuple = ('Apple','Ball','Cat')

In [45]:
type(my_tuple)

tuple

In [46]:
# Indexing
my_tuple[0]

'Apple'

In [47]:
# Trying to change the value
my_tuple[0]='A'
# We Get an error TypeError: 'tuple' object does not support item assignment, basically it tells us that the elements are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Here the Whole item can be changed but the elements cannot be changed
# Example
my_tuple = ('A','B','C')

In [ ]:
print(my_tuple)
type(my_tuple)

In [ ]:
# As we can see below the whole item can be changed but the single elements in the item cannot be changed

In [ ]:
# It will be used in such applications where the defintion of the items just need to be used one time
# We cannot perform any operations on it but we can only replace the entire thing.

#### INBUILT FUNCTIONS

In [51]:
my_tuple.count('Apple')

1

In [52]:
my_tuple.index('Cat')

2