# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operations
- Lists
- Comparision Operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables

#### Boolean Values are the two constant objects False and True

#### They are used to represent truth values (other values can also be considered as true or false)

#### In Numeric Contexts (for example, when used as arguments to an arithmetic operator, they behave like the operator 0 and 1 respectively

#### The built-in bool() can be used to cast any values to boolean, if the values can be interpreted as truth values

#### They are written as true or false respectively

#### Whenever we are working with boolean functions the output is either true or false

In [1]:
bool()

False

In [2]:
bool(True)

True

In [3]:
bool(False)

False

In [4]:
print(True,False)

True False

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
my_str = 'Ashish Roy'
my_str1 = 'Ashish'
my_str2 = 'Ashish1234'

In [8]:
print(my_str.isalnum())

False

In [9]:
print(my_str.isalnum()) #check if all characters are numbers
print(my_str1.isalnum()) #check if all characters are numbers
print(my_str2.isalnum())#check if all characters are numbers
print(my_str.isalpha()) #check if all chararcter in string are alphabetic
print(my_str1.isalpha()) #check if all chararcter in string are alphabetic
print(my_str.isdigit()) #check if string contains digit
print(my_str1.isdigit()) #check if string contains digit
print(my_str.istitle()) #Return True if the string is a title-cased string, False otherwise. (basically first letter is Capital)
print(my_str1.istitle())#Return True if the string is a title-cased string, False otherwise. (basically first letter is Capital)
print(my_str.isupper()) #Return True if the string is an uppercase string, False otherwise.
print(my_str1.isupper())#Return True if the string is an uppercase string, False otherwise.
print(my_str.islower())#Return True if the string is a lowercase string, False otherwise.
print(my_str1.islower())#Return True if the string is a lowercase string, False otherwise.
print(my_str.isspace())#Return True if the string is a whitespace string, False otherwise.
print(my_str1.isspace())#Return True if the string is a whitespace string, False otherwise.
print(my_str.endswith('y'))#Return True if S ends with the specified suffix, False otherwise.
print(my_str1.endswith('H'))#Return True if S ends with the specified suffix, False otherwise.
print(my_str.startswith('A'))#Return True if S starts with the specified prefix, False otherwise.
print(my_str1.startswith('a'))#Return True if S starts with the specified prefix, False otherwise.

# NOTE THAT ENDSWITH AND STARTSWITH ARE CASE SENSITIVE

False
True
True
False
True
False
False
True
True
False
False
False
False
False
False
True
False
True
False

# Boolean and logical operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
False and False

False

In [13]:
False and True

False

In [14]:
# For 'or' operators if both the values are false only then you get false orelse you get true

In [15]:
True or True

True

In [16]:
True or False

True

In [17]:
False or True

True

In [18]:
False or False

False

In [19]:
# complex Example

In [20]:
str_example ='Ashish Roy'
str_my = 'Ash'

In [21]:
str_example.istitle() or str_my.isnumeric()

True

In [22]:
str_example.istitle() and str_my.isalpha()

True

# Lists
- A List is a Data Structure in python that is mutable or changeable, ordered sequence of elements , each values or elements which are present inside of a list is called an item, just as strings are defined as characterstics between quotes, lists are defined by having values between square brackets []

In [23]:
type([])

list

In [24]:
lst_example = []

In [25]:
type(lst_example)

list

In [26]:
# Another type

In [27]:
lst = list()

In [28]:
type(lst)

list

In [29]:
lst_example = ['Mathamatics','Ashish',1,2,3,4,20,2.0]

In [30]:
type(lst_example)

list

In [31]:
lst= ['Arts','Ash',1,2,3,4,5,6,6,7,4]

In [32]:
type(lst)

list

In [33]:
ash = (['A',1,3])

In [34]:
type(ash)

list

In [35]:
len(lst_example)

8

In [36]:
len(lst)

11

In [37]:
len(ash)

3

In [38]:
# Inside the List we have to open the square bracket and we need to insert all the comma seperated values

In [39]:
# APPEND IS A IN BUILT FUNCTION IN LIST

In [40]:
# APPEND basically helps us to add more items inside the list

In [41]:
lst_example.append('Ash')

In [42]:
lst_example

['Mathamatics', 'Ashish', 1, 2, 3, 4, 20, 2.0, 'Ash']

In [43]:
print(lst_example)

['Mathamatics', 'Ashish', 1, 2, 3, 4, 20, 2.0, 'Ash']

In [44]:
lst_example.append(['A','J'])

In [45]:
lst.clear()

In [46]:
print(lst_example)

['Mathamatics', 'Ashish', 1, 2, 3, 4, 20, 2.0, 'Ash', ['A', 'J']]

In [47]:
# The above is called as nested list, Here there is an extra list added to the already existing list (here we are appending 2 elsements)

In [48]:
print(lst)

[]

In [49]:
## Indexing in List

In [50]:
lst_example[1]

'Ashish'

In [51]:
lst_example[6]

20

In [52]:
## indexing with range of values

In [53]:
lst_example[:]

['Mathamatics', 'Ashish', 1, 2, 3, 4, 20, 2.0, 'Ash', ['A', 'J']]

In [54]:
lst_example[2:9]

[1, 2, 3, 4, 20, 2.0, 'Ash']

In [55]:
lst_example[4:8]

[3, 4, 20, 2.0]

In [56]:
# Append By default adds all the elements at the last

# Adding elements on a certain INDEX

In [57]:
# INSERT

In [58]:
# Inserting in a specific order

In [59]:
lst_example.insert(1,'John')

In [60]:
print(lst_example)

['Mathamatics', 'John', 'Ashish', 1, 2, 3, 4, 20, 2.0, 'Ash', ['A', 'J']]

In [61]:
# Here basically 1 is the Index which you want to insert the element and the next is the element itself

In [62]:
# similary you can add at any index whatever you want

# Adding another List into existing List

In [63]:
lst_example.append(['Hello','World'])

In [64]:
print(lst_example)

['Mathamatics', 'John', 'Ashish', 1, 2, 3, 4, 20, 2.0, 'Ash', ['A', 'J'], ['Hello', 'World']]

# EXTEND METHOD

In [65]:
# Example by creating a new list

In [66]:
lst2 = ([1,2,3,4,5,6,7,20])

In [67]:
lst2.extend(['A','B'])

In [68]:
lst2

[1, 2, 3, 4, 5, 6, 7, 20, 'A', 'B']

In [69]:
# using the extend method the elements have been added without even creating a extra list or multi list

In [70]:
# Where as in Append it had Created an Extra List or multi List inside of another

# Various Operations can be performed on List

In [106]:
lst3 = ([1,2,3,4,5,6,7,20])

In [74]:
sum(lst3)

48

In [109]:
#Here the list wont multiply but will repeat multiple times

In [107]:
lst3*2

[1, 2, 3, 4, 5, 6, 7, 20, 1, 2, 3, 4, 5, 6, 7, 20]

In [108]:
lst3*5

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 20]

In [ ]:
# This adds all the elements in the list and give us the output

# POP METHOD

In [77]:
lst3.pop()

20

In [79]:
# Try to pick up the element from specific elements and by default it will remove the last element

In [80]:
lst3

[1, 2, 3, 4, 5, 6, 7]

In [81]:
#As you can see the last element is missing or has been removed

In [82]:
lst3.pop(1)

2

In [83]:
lst3

[1, 3, 4, 5, 6, 7]

In [85]:
#here we can specify the index also of which the number needs to be removed
# Similary we can play between different numbers

# Count
- Calculates total occurances of given element of list

In [95]:
lst4 = [1,2,3,4,5,6,6,6,6]

In [96]:
lst4

[1, 2, 3, 4, 5, 6, 6, 6, 6]

In [97]:
len(lst4)

9

In [98]:
lst4.count(6)

4

In [99]:
# here it is giving a count of a particular element present in the list

# Index : 
- Returns the index of first occurance, start and end are not necessary parameters

In [102]:
lst4.index(6,1,9)

5

In [103]:
# It basically returns the first index of the particular value

# MIN AND MAX

In [104]:
min(lst4)

1

In [105]:
max(lst4)

6