# BASIC OF PYTHON
  
-  Various Datatypes in Python
- Variables
- Variables Assignment
- Print Formatting

# Various DataTypes in Python

# Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [1]:
10%2

0

In [2]:
10/2

5.0

In [3]:
10**2

100

In [6]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

# Checking the datatype

In [8]:
type(1) #here int refers to interger

int

In [9]:
type(10.0) #here int refers to float

float

In [10]:
type(10.000000) #here int refers to float

float

In [11]:
type('Ashish') #here int refers to string

str

In [15]:
type(True) #here int refers to boolean function(it is an inbuilt function by python)

bool

# STRINGS

In [16]:
# It can be defined as ("")Double enclosed quotes or by ('') Single enclosed quotes

In [17]:
"Hello"

'Hello'

In [18]:
'Ashish Roy'

'Ashish Roy'

In [19]:
type('Ashish Roy')

str

# Variable Assignment

In [22]:
# There should always be a syntax for this
# var_name=Values
a = 10

In [23]:
a

10

In [24]:
type(a)

int

In [27]:
a = 'Ashish Roy'

In [28]:
a

'Ashish Roy'

In [26]:
type(a)

str

# Mathamatical Operations with the help of variable assignment

In [30]:
a = 10
b = 20

In [35]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b))

200
0.5
10
200.5

# Various Ways of Printing

In [2]:
print('Hello')

Hello

In [3]:
first_name = 'krish'
last_name = 'naik'

In [4]:
# Printing Complex statements

In [5]:
print('My first name is {} and my last name is {}'.format(first_name,last_name))

My first name is krish and my last name is naik

In [6]:
print('My first name is {first} and my last name is {last}'.format(first = first_name,last = last_name))

My first name is krish and my last name is naik

In [13]:
print('My first name is', first_name ,'and my last name is',last_name)

My first name is krish and my last name is naik

# Checking out more inbuilt functions

In [15]:
len('krish')

5

In [16]:
 type(1.0)

float

In [18]:
type('Ashish')

str

In [20]:
type(['1',2,3,4,5,6,7])

list